@media(min-width:1500px){
    .site-banner .carousel-caption {
        bottom: 75%;
    }
}
@media(max-width:1200px){
    .site-logo img {
        width: 90px;
   }
    p {
        font-size: 15px;
   }
    .top-right ul li a {
        font-size: 22px;
   }
    .serch-btn {
        height: 35px;
        width: 200px;
   }
    .serch-btn input {
        width: 80%;
   }
    .site-banner .carousel-caption {
        width: 60%;
   }
    .sub-nav.menu-block, .site-banner .carousel, .sub-banner {
        height: 450px;
   }
    .site-banner .carousel-indicators [data-bs-target] {
        width: 12px;
        height: 12px;
   }
    h3 {
        font-size: 22px;
   }
    .casino-name h4 {
        font-size: 18px;
   }
    .casino-hotel-box {
        height: 200px;
   }

   .footer-logo img {
        width: 120px;
   }
    .footer-links ul li a, .casino-rate h6 {
        font-size: 16px;
   }
    .copy-right p, .sub-nav ul li a, .monte-txt p, .bard-card-txt p, .contact-txt-box p, .main-nav ul li a {
        font-size: 14px;
   }
    .sub-nav ul li a {
        padding: 15px;
   }
    .sub-nav-right h2 {
        font-size: 30px;
   }
    .monte-txt h4 {
        margin-bottom: 10px;
   }
    .casino-rate .rate {
        margin-bottom: 10px;
   }
    .casino-rate .rate i {
        font-size: 12px;
   }
    .monte-wrap {
        height: 520px;
   }
    .bard-card-txt {
        padding: 20px;
   }
    .restaurant-wrap {
        padding-bottom: 40px;
   }
    .privacy-box h4, .contact-txt-box h4, .monte-txt h4, .bard-card-txt h4 {
        font-size: 20px;
   }
   .casino-loc-wrap .monte-wrap {
    height: 270px;
}
}
@media(max-width:992px){
    .top-nav {
        display: none;
   }
    .main-nav ul {
        align-items: self-start;
        gap: 20px;
        flex-direction: column;
   }
    .main-nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        background: #000;
       /*height: 100vh;
        */
       z-index: 999;
        padding: 40px 20px;
        transform: translateY(-100%);
        transition: all 0.5s linear;
   }
    .close, .mb-toggle{
        display: block ;
   }
    .mb-toggle-menu i {
        font-size: 22px;
        color: #fff;
   }
    .mb-toggle-menu {
        display: flex;
        align-items: center;
        gap: 25px;
   }
    .close {
        color: #fff;
        position: absolute;
        top: 10px;
        right: 15px;
        cursor: pointer;
   }
    .desktop-serch{
        display: none;
   }
    .sub-nav {
        top: 0;
   }
    .sub-nav.menu-block, .main-nav {
        height: 519px;
   }
    .menuToggle .main-nav {
        transform: translateY(0%);
   }
    .site-banner .carousel-caption h5 {
        font-size: 25px;
   }
    .site-banner .carousel-caption {
        transform: translateY(70%);
   }
    .site-banner .carousel-caption {
        width: 70%;
   }
    .serch-close, h3 {
        font-size: 20px;
   }
    p {
        font-size: 13px;
   }
    .casino-name h4, .close, .privacy-box h4 {
        font-size: 16px;
   }
    .casino-hotel-box {
        height: 150px;
   }
    .monte-txt h4 {
        margin-bottom: 5px;
   }
    .bard-card-txt h4, .monte-txt h4 {
        font-size: 18px;
   }
    .explore-btn a {
        font-size: 15px;
        margin-top: 10px;
   }
    .footer-links ul li a, .casino-rate h6 {
        font-size: 14px;
   }
    .copy-right p, .monte-txt p, .bard-card-txt p {
        font-size: 12px;
   }
    .footer-links ul {
        gap: 20px;
        margin: 10px 0;
   }
    .footer-logo img {
        width: 110px;
   }
    .ptb-50 {
        padding: 30px 0;
   }
    .monte-wrap {
        height: 500px;
   }
    .sub-nav-right h2 {
        font-size: 25px;
   }
    .privacy-box p, .privacy-box ul li {
        font-size: 13px;
        margin-bottom: 8px;
   }
    .contact-img {
        height: 450px;
   }
    .contact-main .row {
        box-shadow: none;
   }
    .mobile-serch-bar {
        position: absolute;
        top: 0;
        left: 0;
        background:#000000cf;
        width: 100%;
        display: block;
        z-index: 99;
        display: flex;
        justify-content: center;
        align-items: end;
        padding: 30px 0;
        transform: translateY(-100%);
        transition: all 0.3s linear;
   }
    .mobile-serch-bar.serch-block{
        transform: translateY(0%);
   }
    .mb-serch-box {
        height: 45px;
        background: #fff;
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
   }
    .mb-serch-box input {
        border: none;
        width: 95%;
        height: 100%;
        padding: 15px;
   }
    .serch-close {
        position: absolute;
        top: 15px;
        color: #fff;
   }
    :focus-visible {
        outline: none;
   }
    #search::-webkit-search-cancel-button{
        display: none;
   }
    .mb-serch-box button {
        border: none;
   }
}
@media(max-width:767px){
    .casino-loc-wrap .monte-wrap {
        height: auto;
    }
    .site-logo img {
        width: 70px;
   }
    .mb-toggle-menu i, h3, .close-menu, .contact-txt-box h4 {
        font-size: 18px;
   }
    .site-banner .carousel, .sub-banner {
        height: 350px;
   }
    .site-banner .carousel-caption {
        display: block !important;
   }
    .site-banner .carousel-caption p {
        font-size: 15px;
   }
    .wel-come-img {
        margin-bottom: 20px;
        height: 300px;
   }
    p {
        font-size: 12px;
        margin-bottom: 8px;
   }
    .casino-hotel-box {
        height: 250px;
   }
    .casino-name h4, .explore-btn a {
        font-size: 14px;
   }
    .footer-logo img {
        width: 85px;
   }
    .copy-right p {
        font-size: 10px;
   }
    .main-nav ul li a, .footer-links ul li a, .sub-nav ul li a, .contact-txt-box p {
        font-size: 13px;
   }
    .sub-nav.menu-block, .main-nav {
        height: 403px;
   }
    .sub-nav ul li a {
        padding: 10px;
   }
    .sub-nav-right h2 {
        font-size: 22px;
   }
    .sub-banner-heading {
        width: 90%;
        text-align: center;
   }
    .monte-wrap {
        height: auto;
   }
    .monte-txt {
        padding: 20px;
   }
    .explore-btn a {
        margin-top: 20px;
   }
    .monte-img {
        height: 350px;
   }
    .barcard-img img {
        height: 300px;
        object-fit: cover;
   }
    .contact-txt-box h4 {
        margin-bottom: 5px;
   }
    .contact-txt-box ul li a, .site-banner .carousel-caption h5 {
        font-size: 20px;
   }
}
@media(max-width:575px){
    .serch-close {
        top: 10px;
        font-size: 15px;
   }
    .mobile-serch-bar {
        padding: 20px 0;
   }
    .mb-serch-box input {
        width: 90%;
   }
    .mb-serch-box {
        height: 40px;
   }
    .contact-img {
        height: 300px;
   }
    .site-banner .carousel-caption {
        width: 90%;
        left: 5%;
   }
    .site-banner .carousel, .sub-banner {
        height: 280px;
   }
    .sub-nav.menu-block, .main-nav {
        height: 100vh;
   }
    .mb-toggle-menu i {
        font-size: 17px;
   }
    .mb-toggle-menu {
        gap: 20px;
   }
    .site-banner .carousel-indicators [data-bs-target] {
        width: 10px;
        height: 10px;
   }
    .site-banner .carousel-item {
        height: 100%;
   }
    .wel-come-img {
        height: 200px;
   }
    .casino-hotel-box {
        height: 200px;
   }
    .footer-logo img {
        width: 100px;
   }
    .footer-links ul li{
        line-height: 5px;
   }
    .footer-links ul {
        margin: 20px 0;
   }
    .sub-banner-heading p {
        display: none;
   }
    .monte-img, .barcard-img img {
        height: 250px;
   }
    .bard-card-txt h4, .close-menu {
        font-size: 16px;
   }
    .restaurants-heading.mb-5 {
        margin-bottom: 2rem !important;
   }
    .restaurant-wrap {
        padding-bottom: 10px;
   }
    .menuToggle .main-nav {
        width: 100%;
   }
    .sub-nav ul {
        width: 100%;
        padding-top: 20px;
   }
    .sub-nav-right {
        width: 0;
        top: 0;
        right: 0;
        height: 0;
   }
    .close-menu {
        top: 10px;
        right: 15px;
   }
    .sub-nav-txt {
        display: none;
   }
    .privacy-box {
        margin-bottom: 20px;
   }
}
@media(max-width:376px){
    .contact-txt-box h4, h3, .monte-txt h4 {
        font-size: 16px;
   }
    .contact-img {
        height: 200px;
   }
    .site-banner .carousel, .sub-banner {
        height: 200px;
   }
    .site-banner .carousel-caption {
        width: 95%;
        left: 2%;
   }
    .site-banner .carousel-caption h5 {
        font-size: 17px;
   }
    .site-banner .carousel-caption p {
        font-size: 13px;
   }
    .wel-come-img {
        height: 150px;
   }
    .container {
        padding: 0 15px;
   }
    .casino-hotel-box {
        height: 150px;
   }
    .casino-name h4, .casino-rate h6 {
        font-size: 12px;
   }
    .casino-top-txt, .casino-btm-txt {
        width: 96%;
   }
    .sub-nav ul li a {
        width: 80%;
   }
    .bar-txt {
        width: 100%;
   }
    .monte-img, .barcard-img img {
        height: 180px;
   }
    .monte-txt {
        padding: 15px;
   }
    .explore-btn a {
        padding: 8px 30px;
   }
    .sub-nav.menu-block, .main-nav {
        height: 252px;
   }
}
